<div class="navigation"><nav mat-tab-nav-bar mat-stretch-tabs color="primary" (click)="reset()">
  <label mat-tab-link
  *ngFor="let link of navLinks"
  [routerLink]="link.link"
  routerLinkActive #rla="routerLinkActive"
  [active]="rla.isActive">
  <strong>{{link.label}}</strong>
</label>
<!--
<button class="btn btn-lg"
(click)="changeTheme()"
[ngClass]="{'btn-outline-warning': colorTheme,'btn-outline-dark': !colorTheme}"
style="border: none;">{{item}}</button>
-->
</nav>
</div>
<ngx-chess-board #board (click)="getMoveHistory()"
(window:resize)="onResize($event)"
[size] = size
[lightTileColor]
[darkTileColor]
[showCoords]
[drawDisabled]>
</ngx-chess-board>
<mat-card class="menu">
  <router-outlet></router-outlet>
</mat-card>

<button class="btn btn-warning btn-lg btn-block" (click)="reset()">
  <mat-icon aria-hidden="false">restart_alt</mat-icon>
  <span> RESET </span>
  <mat-icon aria-hidden="false">restart_alt</mat-icon>
</button>
<button class="btn btn-dark btn-lg btn-block" (click)="reverse()"> 
  <mat-icon aria-hidden="false">360</mat-icon>
  <span> FLIP </span>
  <mat-icon aria-hidden="false">360</mat-icon>
</button>
<button class="btn btn-danger btn-lg btn-block" (click)="undo()"> 
  <mat-icon aria-hidden="false">undo</mat-icon>
  <span> UNDO </span>
  <mat-icon aria-hidden="false">undo</mat-icon>
</button>